<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= income.incname %></h2>
    <% income.sources.forEach(i => { %>
        <h2><%= i %></h2>
    <% }) %>
    <h2>Date: <%= income.date %></h2>
    <h2>Amount: <%= income.amount %></h2>
    <a href="">Edit</a>
    <a href="">Delete</a>
</body>
</html>