<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/clients/income" method="POST">
        <input type="text" name="incname" placeholder="Enter Income Name">
        <input type="text" name="sources" placeholder="Enter the Income Source">
        <input type="number" name="amount" placeholder="Amount">
        <input type="date" name="date">
        <input type="submit" value="Add Income">
    </form>
</body>
</html>